body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.header {
    background-color: black;
}

.header__container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.header__container__nav-item{
    width: 100px;
    text-align: center;
}

.header__container__nav-item a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    width: 100%;
    display: block;
    padding: 10px 0;
} 

.main {
    background-image: url(imghomework3/background.png);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px;
    margin-bottom: -16px;
}

.main__container {
    width: 75%;
    margin: 0 auto;
    background-color: black;
    font-weight: bold;
}

h1 {
    padding-top: 50px;
    color: #FD7D54;
    font-size: 64px;
    margin-bottom: -15px;
}


.subtitle {
    padding-bottom: 25px;
    font-size: 20px;
}    


.card {
    border: 3px solid white;
    width: 21%;
    height: 380px;
    padding: 46px 25px 0 25px;    
}

.card a {
    color: #41C3F6;
    text-decoration: none;
    font-size: 19px;
}

.container {
    display: flex;
    justify-content: space-evenly;    
    padding-bottom: 85px;
}

.line {
    border-bottom: white 3px solid;
    width: 20px;
    margin-left: 114px;
}

.card p {
    font-size: 18px;
    padding-bottom: 10px;
}

h2 {
    font-size: 27px;
}

.footer {
    background-color: black;
    text-align: center;
    font-weight: bold;
    height: 45px;
}

.footer p {
    padding-top: 5px;
}