body {
    margin: 0;
    padding: 0;
}

header {
    width: 800px;
    height: 200px;
}

nav {
    width: 100px;
    height: 400px;
}

section {
    width: 700px;
    height: 400px;
}

footer {
    width: 800px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: row;
}